<html (mousemove)="onMove()">

<table class="login">
<tr>
   <td><label>CPF </label></td>
   <td><input [(ngModel)]="aluno.cpf" ></td>
   <td *ngIf="cpfduplicado">
     Já existe um aluno com esse CPF
   </td>
</tr>
<tr>
   <td><label>Senha </label></td>
   <td><input [(ngModel)]="aluno.senha" ></td>
</tr>
<tr>
   <td><button class="btlogin" (click)="logarAluno(aluno)">Fazer Login</button></td>
</tr>
<tr>
   <td><button class="btcad" (click)="criarAluno(aluno)">Cadastrar</button></td>
</tr>
</table>

</html>
